.image-card{
    margin: 0rem 2rem;
    margin-bottom: 5rem;
}
.image-card img{
    max-width: 40vw;
    height: 30vh;
}
@media only screen and (max-width: 768px){
    .image-card{
        width: 40vw;
        height: 30vh;
    }
    .image-card img{
        min-width: 40vw;
        height: 30vh;
    }
}